html {
	margin:0px;
}
body {
	margin:0px auto;
	background:transparent url('../support/img/bg.gif') repeat;
	font-family:微软雅黑,Arial, Helvetica, sans-serif;
	color:#fff;
	font-size:12px;
	
}

#wrap {
	margin:0px auto;
}
#head {
	margin:15px auto;
	width:800px;
}
#logo {
	height:82px;
	background:transparent url('../support/img/logo.png') no-repeat;
}
#intr {
	height:62px;
	background:transparent url('../support/img/glass.png') repeat-x;
}
.lim {
	width:800px;
	margin:0px auto;
	padding-top:24px;
	padding-left:192px;
}
.ileft {
	float:left;
	width:191px;
	background:transparent url('../support/img/w1.png') no-repeat;
	height:17px;
	padding-right:40px;
}
.itick {
	float:left;
	width:27px;
	background:transparent url('../support/img/tick.png') no-repeat;
	height:28px;
	padding-right:0px;
	margin-top:-2px;
}
#iword1 {
	float:left;
	width:38px;
	background:transparent url('../support/img/w2.png') no-repeat;
	height:66px;
	padding-right:40px;
	margin-top:-10px;
}
#iword2 {
	float:left;
	width:37px;
	background:transparent url('../support/img/w3.png') no-repeat;
	height:68px;
	padding-right:40px;
	margin-top:-10px;
}
#iword3 {
	float:left;
	width:38px;
	background:transparent url('../support/img/w4.png') no-repeat;
	height:68px;
	padding-right:40px;
	margin-top:-10px;
}
.ig {
	color: #70B806;
	font-family:"Courier New", Courier, monospace;
}
#download {
	margin:20px auto;
	text-align:center;
}
#content {
	clear:both;
	width:800px;
	margin:10px auto;
	padding-left:20px;
	
}

#footer {
	clear:both;
	width:800px;
	margin:0px auto;
	padding-left:20px;
	background:transparent url('../support/img/rightads.png') no-repeat right;
	height:45px;
	padding-top:28px;
}

#footer a:link, #footer a:visited  {
	color:#85DF00;
	text-decoration:none;
}

#footer a:hover {
	color:#fff;
	text-decoration:underline;
}

#footer a:active {
		color:#85DF00;
	text-decoration:none;
}
 
.sitedownloadnowImg,.sitedownloadnow2Img, .sitedownloadnow3Img {
	float:left;
	padding-top:10px;
}

.sitedownloadnowImg ul a {
	display: block; background: url('../support/img/d11.png') no-repeat 0px 0px;   width: 226px; text-indent: -9999px; height: 58px; text-decoration: none
}

.sitedownloadnowImg #lb a:link {
	background-position: 0px 0px
}
.sitedownloadnowImg #lb a:visited {
	background-position: 0px 0px
}
.sitedownloadnowImg #lb a:hover {
	background-position: 0px  -54px;
	border-bottom: 0px #000 solid;
	text-decoration:none;
}
.sitedownloadnowImg #lb a:active {
	background-position: 0px 0px
}

.sitedownloadnow2Img ul a {
	display: block; background: url('../support/img/d22.png') no-repeat 0px 0px;   width: 226px; text-indent: -9999px; height: 58px; text-decoration: none
}

.sitedownloadnow2Img #lb a:link {
	background-position: 0px 0px
}
.sitedownloadnow2Img #lb a:visited {
	background-position: 0px 0px
}
.sitedownloadnow2Img #lb a:hover {
	background-position: 0px  -52px;
	border-bottom: 0px #000 solid;
	text-decoration:none;
}
.sitedownloadnow2Img #lb a:active {
	background-position: 0px 0px
}

ul {
	list-style:none;
}
li {
	list-style:none;
}
.sitedownloadnow3Img ul a {
	display: block; background: url('../support/img/d33.png') no-repeat 0px 0px;   width: 226px; text-indent: -9999px; height: 58px; text-decoration: none
}

.sitedownloadnow3Img #lb a:link {
	background-position: 0px 0px
}
.sitedownloadnow3Img #lb a:visited {
	background-position: 0px 0px
}
.sitedownloadnow3Img #lb a:hover {
	background-position: 0px  -52px;
	border-bottom: 0px #000 solid;
	text-decoration:none;
}
.sitedownloadnow3Img #lb a:active {
	background-position: 0px 0px
}
.igap {
	height:10px;
	clear:both;
}
.inote {
	clear:both;
	margin-top:100px;
	background:transparent url('../support/img/line.png') repeat-x;
	padding-top:10px;
}
 
#ic {
	margin:40px 68px -50px 44px;
	
}
input, textarea {
	border: 1px solid #333;
	width:240px;
	margin:5px auto;
}

input {
	height:20px;
}

button {
	margin:20px 0px;
	width:100px;
	height:25px;
}

.row { margin-bottom:5px; clear:both; overflow:hidden; border:1px solid #000; padding: 10px 28px; }
.row label { margin-right:5px; display:block; float:left; font-weight:bold; color:orange;}
.row div { width:340px; display:block; float:left; }

